<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>User name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.user_name %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= form_tag(populate_post_users_path, method: :get, remote: true) do %>
  User: <%= select_tag 'user_id', options_for_select(@users.collect{ |u| [u.user_name, u.id] }), prompt: 'Please select user' ,  style: 'margin-left:3%;' %><br><br/>
        <%= submit_tag 'submit', id: 'submit' %>       <br/>
    Post: <%= select_tag 'post_id','' , prompt: 'Please select post', style: 'margin-left:3%;' %> <br/><br/>
    Comment: <%= select_tag 'comment_id','' , prompt: 'Please select comment' %>
<% end %>

<br>
<%= link_to 'New User', new_user_path %>



<!--remote_function(url: {controller: 'users', action: 'populate_post'},remote: :get)-->
<!--onchange: {remote: true, data_url: url_for(controller: 'users', action: 'populate_post', method: :get)},-->
<!--<script>-->

<!--//  $('#user_id').click(function(){-->
<!--//      alert($('#user_id').val());-->
<!--//      $('#post_id').acceptData()-->
<!--//-->
<!--//  })-->
<!--</script>-->
